
* {
  font-family: "Palatino Linotype";
}

input {
  padding: 8px;
  margin: 5px;

}

.asterisk {
  color: red;
  font-size: 12px;
}

#error {
  color:red;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}
